/src/main/webapp/node_modules/
/src/main/webapp/app/**/*.js
/src/main/webapp/app/**/*.js.map
/src/main/webapp/aot/
/src/main/webapp/dist/
/target/
/target/**/
/nb-configuration.xml
/nbactions.xml
/npmProxyDisable.cmd
/npmProxyEnable.cmd
/*.log
node
npm-debug.log
TESTS-HeadlessChrome_0.0.0_(Windows_7_0.0.0).xml
/src/main/webapp/e2e/*.nbignore
test-report.html
test-report.xml
/release/statkins.war
