<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{name}}</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#visBasicStatistics">Basic Statistics</a></li>
                <li><a href="#visBuildNumberGraph">Job Builds</a></li>
                <li><a href="#visFileChangesGraph">Changed Files</a></li>
                <li><a href="#visBuildDuration">Build durations</a></li>
                <li><a href="#visBuildTimeline">Build timeline</a></li>
                <li><a href="#visCommitTimeline">Commit timeline</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>{{name}}</h1>
        <p>
            This is an application that retrieves data from a running Jenkins instance, compiles and processes it, then displays a nice view with metrics based on the data.<br/>
            Just input your Jenkins URL, click start, and you're good to go
        </p>
        <form name="startForm" class="form-group" role="form">
            <div class="row">
                <div class="col-md-6 col-minimal-padding">
                    <input name="jenkinsUrl" [(ngModel)]="jenkinsUrl" type="text" class="form-control input-md" placeholder="{{jenkinsUrl}}">
                </div>
                <div class="col-md-1 col-minimal-padding">
                    <button name="startAnalysis" (click)="jenkinsdataretriever.analyze()" type="submit" class="form-control btn btn-success">Start</button>
                </div>
            </div>
        </form>

        <div class="col-md-12">
            <jenkins-data-retriever #jenkinsdataretriever
                [jenkinsUrl]="jenkinsUrl" 
                [jenkinsDefinitionService]="jenkinsDefinitionService"
                (dataRetrieved)="onDataRetrieved($event); jenkinsdataanalyzer.analyze($event);">
            </jenkins-data-retriever>
        </div>

        <div class="col-md-12">
            <jenkins-data-analyzer #jenkinsdataanalyzer
                [jenkinsData]="jenkinsData"
                [dataAvailable]="dataAvailable">
            </jenkins-data-analyzer>  
        </div>
    </div>
    <HR/>
</div>

<div class="container">
    <footer>
        <p>{{copyright}}</p>
    </footer>
</div> <!-- /container -->