<!DOCTYPE html>
<div id="processingInfo" [hidden]="!dataAvailable">

    <h3>Statistics</h3>

    <div id="visBasicStatistics" class="row">
        <jenkins-basic-statistics #jenkinsbasicstatistics
            [jenkinsData]="jenkinsData">
        </jenkins-basic-statistics>  
    </div>

    <div id="visBuildNumberGraph" class="row">
        <jenkins-job-build-graph #jenkinsjobbuildgraph
            [jenkinsData]="jenkinsData">
        </jenkins-job-build-graph>  
    </div>

    <div id="visFileChangesGraph" class="row">
        <jenkins-file-changes-graph #jenkinsfilechangesgraph
            [jenkinsData]="jenkinsData">
        </jenkins-file-changes-graph>  
    </div>

    <div id="visBuildDuration" class="row">
        <jenkins-average-build-duration #jenkinsaveragebuildduration
            [jenkinsData]="jenkinsData">
        </jenkins-average-build-duration>  
    </div>

    <div id="visBuildTimeline" class="row">
        <jenkins-build-timeline #jenkinsbuildtimeline
            [jenkinsData]="jenkinsData">
        </jenkins-build-timeline>
    </div>

    <div id="visCommitTimeline" class="row">
        <jenkins-changeset-timeline #jenkinschangesettimeline
            [jenkinsData]="jenkinsData">
        </jenkins-changeset-timeline>
    </div>
</div>