<!DOCTYPE html>
<div id="processingInfo" [hidden]="!dataAvailable">

    <h3 class="statisticsSection">Statistics</h3>

    <div id="visBasicStatistics" class="row statisticsSection">
        <jenkins-basic-statistics #jenkinsbasicstatistics
            [utilService]="utilService"
            [jenkinsData]="jenkinsData">
        </jenkins-basic-statistics>  
    </div>

    <div id="visBuildNumberGraph" class="row statisticsSection sidePadded">
        <jenkins-job-build-graph #jenkinsjobbuildgraph
            [utilService]="utilService"
            [jenkinsData]="jenkinsData">
        </jenkins-job-build-graph>  
    </div>

    <div id="visFileChangesGraph" class="row statisticsSection sidePadded">
        <jenkins-file-changes-graph #jenkinsfilechangesgraph
            [utilService]="utilService"
            [jenkinsData]="jenkinsData">
        </jenkins-file-changes-graph>  
    </div>

    <div id="visBuildDuration" class="row statisticsSection sidePadded">
        <jenkins-average-build-duration #jenkinsaveragebuildduration
            [utilService]="utilService"
            [jenkinsData]="jenkinsData">
        </jenkins-average-build-duration>  
    </div>

    <div id="visBuildTimeline" class="row statisticsSection sidePadded visStatisticsTimeline">
        <jenkins-build-timeline #jenkinsbuildtimeline
            [utilService]="utilService"
            [jenkinsData]="jenkinsData">
        </jenkins-build-timeline>
    </div>

    <div id="visCommitTimeline" class="row statisticsSection sidePadded visStatisticsTimeline">
        <jenkins-changeset-timeline #jenkinschangesettimeline
            [utilService]="utilService"
            [jenkinsData]="jenkinsData">
        </jenkins-changeset-timeline>
    </div>

    <div id="visJobRelationshipNetwork" class="row statisticsSection sidePadded">
        <jenkins-job-relationship-network #jenkinsjobrelationshipnetwork
            [utilService]="utilService"
            [jenkinsData]="jenkinsData">
        </jenkins-job-relationship-network>
    </div>
</div>