<!DOCTYPE html>

<div id="processingInfo" [hidden]="!urlCheckStarted">
    <h3 class="statisticsSection">Data Retrieval</h3>
    
    <div class="row">
        <div class="col-sm-2">
            Checking URL:
        </div>
        <div class="col-sm-4 box-content-box">
            <span [hidden]="isHideUrlCheckLoadingLabel()">
                <i class="fa fa-spinner fa-spin fa-icon-green" aria-hidden="true"></i> Loading
            </span>
            <span [hidden]="isHideUrlCheckSuccessfulLabel()">
                <i class="fa fa-check-circle fa-icon-green" aria-hidden="true"></i> Successful
            </span>
            <span [hidden]="isHideUrlCheckErrorLabel()">
                <i class="fa fa-times-circle fa-icon-red" aria-hidden="true"></i> Error occurred
            </span>
        </div>
    </div>
    
    <div class="row" [hidden]="isHideUrlCheckErrorLabel()">
        <div class="col-sm-8" [hidden]="isHideUrlCheckErrorLabel()">
            <span>Url invalid, error received was <i>"{{errorMessage}}"</i></span>
        </div>
    </div>
    
    <div class="row" [hidden]="!retrievalStarted">
        <div class="col-sm-2">
            Nodes:
        </div>
        <div class="col-sm-4 box-content-box">
            <span [hidden]="isHideLoadingLabel(services.nodeService)">
                <i class="fa fa-spinner fa-spin fa-icon-green" aria-hidden="true"></i> Loading
            </span>
            <span [hidden]="isHideSuccessfulLabel(services.nodeService)">
                <i class="fa fa-check-circle fa-icon-green" aria-hidden="true"></i> Successful
            </span>
            <span [hidden]="isHideIncompleteLabel(services.nodeService)">
                <i class="fa fa-check-circle fa-icon-yellow" aria-hidden="true"></i> Successful, incomplete
            </span>
            <span [hidden]="isHideErrorLabel(services.nodeService)">
                <i class="fa fa-times-circle fa-icon-red" aria-hidden="true"></i> Error occurred
            </span>
        </div>
    </div>

    <div class="row" [hidden]="!retrievalStarted">
        <div class="col-sm-2">
            Users:
        </div>
        <div class="col-sm-4 box-content-box">
            <span [hidden]="isHideLoadingLabel(services.userService)">
                <i class="fa fa-spinner fa-spin fa-icon-green" aria-hidden="true"></i> Loading
            </span>
            <span [hidden]="isHideSuccessfulLabel(services.userService)">
                <i class="fa fa-check-circle fa-icon-green" aria-hidden="true"></i> Successful
            </span>
            <span [hidden]="isHideIncompleteLabel(services.userService)">
                <i class="fa fa-check-circle fa-icon-yellow" aria-hidden="true"></i> Successful, incomplete
            </span>
            <span [hidden]="isHideErrorLabel(services.userService)">
                <i class="fa fa-times-circle fa-icon-red" aria-hidden="true"></i> Error occurred
            </span>
        </div>
    </div>

    <div class="row" [hidden]="!retrievalStarted">
        <div class="col-sm-2">
            Jobs:
        </div>
        <div class="col-sm-4 box-content-box">
            <span [hidden]="isHideLoadingLabel(services.jobService)">
                <i class="fa fa-spinner fa-spin fa-icon-green" aria-hidden="true"></i> Loading
            </span>
            <span [hidden]="isHideSuccessfulLabel(services.jobService)">
                <i class="fa fa-check-circle fa-icon-green" aria-hidden="true"></i> Successful
            </span>
            <span [hidden]="isHideIncompleteLabel(services.jobService)">
                <i class="fa fa-check-circle fa-icon-yellow" aria-hidden="true"></i> Successful, incomplete
            </span>
            <span [hidden]="isHideErrorLabel(services.jobService)">
                <i class="fa fa-times-circle fa-icon-red" aria-hidden="true"></i> Error occurred
            </span>
        </div>
    </div>

    <div class="row" [hidden]="!retrievalStarted">
        <div class="col-sm-2">
            Views:
        </div>
        <div class="col-sm-4 box-content-box">
            <span [hidden]="isHideLoadingLabel(services.viewService)">
                <i class="fa fa-spinner fa-spin fa-icon-green" aria-hidden="true"></i> Loading
            </span>
            <span [hidden]="isHideSuccessfulLabel(services.viewService)">
                <i class="fa fa-check-circle fa-icon-green" aria-hidden="true"></i> Successful
            </span>
            <span [hidden]="isHideIncompleteLabel(services.viewService)">
                <i class="fa fa-check-circle fa-icon-yellow" aria-hidden="true"></i> Successful, incomplete
            </span>
            <span [hidden]="isHideErrorLabel(services.viewService)">
                <i class="fa fa-times-circle fa-icon-red" aria-hidden="true"></i> Error occurred
            </span>
        </div>
    </div>

    <div class="row" [hidden]="!retrievalStarted">
        <div class="col-sm-2">
            Builds:
        </div>
        <div class="col-sm-4 box-content-box">
            <span [hidden]="isHideLoadingLabel(services.buildService)">
                <i class="fa fa-spinner fa-spin fa-icon-green" aria-hidden="true"></i> Loading
            </span>
            <span [hidden]="isHideSuccessfulLabel(services.buildService)">
                <i class="fa fa-check-circle fa-icon-green" aria-hidden="true"></i> Successful
            </span>
            <span [hidden]="isHideIncompleteLabel(services.buildService)">
                <i class="fa fa-check-circle fa-icon-yellow" aria-hidden="true"></i> Successful, incomplete
            </span>
            <span [hidden]="isHideErrorLabel(services.buildService)">
                <i class="fa fa-times-circle fa-icon-red" aria-hidden="true"></i> Error occurred
            </span>
        </div>
    </div>

    <div class="row" [hidden]="!retrievalStarted">
        <div class="col-sm-2">
            Commits:
        </div>
        <div class="col-sm-4 box-content-box">
            <span [hidden]="isHideLoadingLabel(services.changeSetService)">
                <i class="fa fa-spinner fa-spin fa-icon-green" aria-hidden="true"></i> Loading
            </span>
            <span [hidden]="isHideSuccessfulLabel(services.changeSetService)">
                <i class="fa fa-check-circle fa-icon-green" aria-hidden="true"></i> Successful
            </span>
            <span [hidden]="isHideIncompleteLabel(services.changeSetService)">
                <i class="fa fa-check-circle fa-icon-yellow" aria-hidden="true"></i> Successful, incomplete
            </span>
            <span [hidden]="isHideErrorLabel(services.changeSetService)">
                <i class="fa fa-times-circle fa-icon-red" aria-hidden="true"></i> Error occurred
            </span>
        </div>
    </div>

    <div class="row" [hidden]="!retrievalStarted">
        <div class="col-sm-2">
            Actions:
        </div>
        <div class="col-sm-4 box-content-box">
            <span [hidden]="isHideLoadingLabel(services.actionService)">
                <i class="fa fa-spinner fa-spin fa-icon-green" aria-hidden="true"></i> Loading
            </span>
            <span [hidden]="isHideSuccessfulLabel(services.actionService)">
                <i class="fa fa-check-circle fa-icon-green" aria-hidden="true"></i> Successful
            </span>
            <span [hidden]="isHideIncompleteLabel(services.actionService)">
                <i class="fa fa-check-circle fa-icon-yellow" aria-hidden="true"></i> Successful, incomplete
            </span>
            <span [hidden]="isHideErrorLabel(services.actionService)">
                <i class="fa fa-times-circle fa-icon-red" aria-hidden="true"></i> Error occurred
            </span>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-8" [hidden]="!retrievalFinished">
            <span [hidden]="!retrievalSuccessful">All data retrieval complete</span>
            <span [hidden]="retrievalSuccessful">Data retrieval completed with some errors.
                <br/><i>Some items may be missing</i>
                <br/><i>Please check the console log for more details</i>
            </span>
        </div>
        <br/>
    </div>
    
</div>