

<div class="bg-color-white panel panel-primary text-center no-border">
    <div class="panel-footer back-footer-green panel-title">
        Jobs by average build duration (minutes)<br/>
        <span><small><i>Click and drag to pan, or click and scroll to zoom</i></small></span>
    </div>
    <div id="jobBuildAverageDurationGraph"></div>
    <div class="panel-body">
        <div class="row">
            <span><b><i>Color thresholds calculated as follows:</i></b></span><br/>
            <span><b><i>Less than {{BUILD_GREEN_THRESHOLD}}m - green</i></b></span><br/>
            <span><b><i>{{BUILD_GREEN_THRESHOLD}} to {{BUILD_YELLOW_THRESHOLD}}m - yellow</i></b></span><br/>
            <span><b><i>More than {{BUILD_YELLOW_THRESHOLD}}m - red</i></b></span><br/>
        </div>
        <hr/>
    </div>
</div>