
<div class="bg-color-white panel panel-primary text-center no-border">
    <div class="panel-footer back-footer-green panel-title">
        Builds Timeline (Last {{startTimeLimit}} {{timeLimitUnit}})<br/>
        <span><small><i>Click and drag to pan, or click and scroll to zoom. Double-click an element to open it in Jenkins</i></small></span>
    </div>
    <div>
        <div id="buildTimeline"></div>
    </div>
    <div class="panel-body">
        <div class="row">
            
            <span><b>Display:</b></span>&nbsp;&nbsp;
            <label class="checkbox-inline">
                <input id="stackToggle" name="stackToggle" type="checkbox" checked
                       [ngModel]="buildVisibility.stack"
                       (ngModelChange)="toggleOverlap()"> Stack Items
            </label>
            |
            <label class="checkbox-inline">
                <input id="queueToggle" name="queueToggle" type="checkbox" checked
                       [ngModel]="buildVisibility.queueTimes"
                       (ngModelChange)="toggleQueueTimes()"> Show queue times
            </label>
            <br/>
            
            <span><b>Queue times:</b></span>&nbsp;&nbsp;
            <label class="checkbox-inline">
                <input id="builWithQueueTimeToggle" name="builWithQueueTimeToggle" type="checkbox" checked
                       [ngModel]="buildVisibility.buildWithQTime"
                       (ngModelChange)="toggleBuildWithQTime()"> Builds with time in queue
            </label>
            |
            <label class="checkbox-inline">
                <input id="builWithoutQueueTimeToggle" name="builWithoutQueueTimeToggle" type="checkbox" checked
                       [ngModel]="buildVisibility.buildWithoutQTime"
                       (ngModelChange)="toggleBuildWithoutQTime()"> Builds started immediately
            </label>
            <br/>
            
            <span><b>Show build groups:</b></span>&nbsp;&nbsp;
            <label class="checkbox-inline">
                <input id="successfulToggle" name="successfulToggle" type="checkbox" checked
                       [ngModel]="buildVisibility.success"
                       (ngModelChange)="toggleSuccessful()"> Successful
            </label>
            |
            <label class="checkbox-inline">
                <input id="unstableToggle" name="unstableToggle" type="checkbox" checked
                       [ngModel]="buildVisibility.unstable"
                       (ngModelChange)="toggleUnstable()"> Unstable
            </label>
            |
            <label class="checkbox-inline">
                <input id="failedToggle" name="failedToggle" type="checkbox" checked
                       [ngModel]="buildVisibility.failed"
                       (ngModelChange)="toggleFailed()"> Failed
            </label>
            |
            <label class="checkbox-inline">
                <input id="defaultToggle" name="defaultToggle" type="checkbox" checked
                       [ngModel]="buildVisibility.defaultGroup"
                       (ngModelChange)="toggleDefault()"> Aborted or Running
            </label>
            <br/>
            
            <span><b><i>Color of items represents the build status</i></b></span><br/>
        </div>
        <hr/>
    </div>
</div>