

<div class="bg-color-white panel panel-primary text-center no-border">
    <div class="panel-footer back-footer-green panel-title">
        Job Relationships Graph<br/>
        <span><small><i>Click and drag to pan, or click and scroll to zoom. Hover for {{tooltipDelay}} {{timeLimitUnit}} for tooltip</i></small></span><br/>
        <span><small><i>Double-click an element to open it in Jenkins</i></small></span>
    </div>
    <div id="jobRelationshipNetwork"></div>
    <div class="panel-body">
        <div class="row">
            <span>Show:</span><br/>
            <label class="checkbox-inline">
                <input id="showUnconnectedToggle" name="showUnconnectedToggle" type="checkbox" checked
                       [ngModel]="showNodesWithoutEdges"
                       (ngModelChange)="toggleUnconnectedNodes()"> Nodes without edges
            </label>
            |
            <label class="checkbox-inline">
                <input id="showConnectedToggle" name="showConnectedToggle" type="checkbox" checked
                       [ngModel]="showNodesWithEdges"
                       (ngModelChange)="toggleConnectedNodes()"> Nodes with edges
            </label><br/>
        </div>
    </div>
</div>